@import "tailwindcss";

/* Tambahkan di paling bawah */
@layer utilities {
  @media print {
    /* 1. Sembunyikan elemen yang punya class 'no-print' */
    .no-print, aside {
      display: none !important;
    }

    /* 2. Pastikan Layout Full Width & Background Putih */
    body, #root, main {
      background: white;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow: visible;
    }

    /* 3. Paksa background color (misal header tabel) tetap muncul */
    * {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }
    
    /* 4. Pastikan margin halaman cetak default */
    @page {
      margin: 2cm;
    }
  }
}